# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
terraform.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl
terraform.tfstate.backup

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/
dist/
build/
.env
.venv
venv/
ENV/
env/
pip-log.txt
pip-delete-this-directory.txt
*.log

# Docker
*.tar
*.img
.dockerignore

# Kubernetes
.kube/

# VS Code
.vscode/

# OS generated
.DS_Store
Thumbs.db

# Logs
*.log

# Others
.idea/
*.swp
